<!-- Navbar with toolbar -->
<!-- <mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Menu" (click)="toggleDrawer(drawerState)">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Innovacta Ecom</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Favorite">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Share">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar> -->

<header>
  <div class="flex items-center justify-between px-6 py-3">
    <div class="flex items-center">
      <!-- <button mat-icon-button class="example-icon" aria-label="Menu" (click)="toggleDrawer(drawerState)">
        <mat-icon>menu</mat-icon>
      </button> -->
      <h1>Innovacta Ecom</h1>
    </div>
    <div>
      <button mat-button>Sign In</button>
      <button mat-button>Sign Up</button>
    </div>
  </div>


</header>